body {
    background-color: rgb(22, 22, 22);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#quote-box{
    text-align: center;
    width: 550px;
    margin: 0 auto;
    padding: 1em;
    background-color: white;
    color: rgb(22, 22, 22);
}

a{
    text-decoration: none;
    color: inherit;
}

#text {
    font-size: xx-large;
    font-weight: bolder;
}

#author {
    text-align: right;
    padding-right: 2em;
}

#new-quote {
    margin: 1em;
    width: 150px;
    height: 30px;
    background-color: rgb(22, 22, 22);
    color: white;
}
#new-quote:hover{
    cursor: pointer;
}

#tweet-quote {
    text-decoration: none;
}
#tweet-quote:visited {
    text-decoration: none;
    color: rgb(22, 22, 22);
}
#tweet-quote:hover {
    color: rgb(92, 56, 56);
}

@media(max-width: 700px){
    #quote-box{
        text-align: center;
        width: 100vw;
        height: 100vh;
        margin: 0 auto;
        padding: 1em;
        background-color: white;
        color: rgb(22, 22, 22);
    }
}